{% extends "merchant_base.html" %}

{% load static %}

{% block html_head %}

    <!-- SEO Meta Tags -->
    <meta name="description" content="Local Support by Visa - Support and Find Exclusive Rewards at Small, Local Merchannts near you.">
    <meta name="author" content="Visa Inc.">

    <!-- Website Title -->
    <title>Merchant Home | Local Support by Visa | Support Local Merchants &amp; Earn Exclusive Rewards</title>

{% endblock %}

{% block content %}

<div style="margin-top: 135px;">
    <center>
        <ul class="nav nav-pills nav-fill justify-content-center" style="width: 70%; background-color: #e5e5e5;">
            <li class="nav-item">
            <a class="nav-link active" href="#">Earn Offers</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Avail Offers</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">My Wallet</a>
            </li>
        </ul>
    </center>
</div>
{% endblock %}