{% extends "consumers/cons_base.html" %}
{% load static %}
    
    {% block content %}
    <center>
    <h2 style="font-family: Arbutus Slab, serif; font-size: 22px; margin-top: 18px; color: #000; line-height: 1.25; text-decoration: underline;"><strong>Payment Successful!</strong></h2>
    <p style="font-weight:normal; width: 70%; font-family: Arbutus Slab, serif; color: #292929;">Thank you for supporting Small Businesses, you have been awarded with <span id="karma_earned"> karma points as a reward.</p>
    <hr>
    <div style="width: 40%; margin-top: 40px;">
        <ul style="list-style-type: none; font-family: Open Sans, serif; color: #292929; text-align: left;">
            <li><strong>Date                 : </strong>{{order.order_date}}</li>
            <li><strong>Payment Amount       : </strong>{{order.order_amount}}</li>
            <li><strong>Merchant Name        : </strong>{{merchant}}</li>
            <li><strong>Karma Points Earned  : </strong>{{order.karma_points_earned}}</li>
            <li><strong>Karma Points Used    : </strong>{{order.karma_points_used}}</li>
            <li><strong>Discount Amount      : </strong>{{order.discount_amount}}</li>
        </ul>
    </div>
    <a class="btn btn-dark" href="/customer/view_orders" role="button" style="text-decoration: none; margin-top: 20px;">View all past orders</a>
    </center>
    {% endblock %}
    {% block scripts %}
    <style>
@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans&display=swap");
    </style>
    <script>
        console.log('{{dummy}}')
    </script>
    {% endblock %}