{% extends "consumers/cons_base.html" %}
{% load static %}
    
    {% block content %}
    <!-- <ol class="articles" style="margin-top: 30px;">
      <li class="articles__article" style="--animation-order:1"><a class="articles__link">
          <div class="articles__content articles__content--lhs">
            <h2 class="articles__title">25% OFF all store</h2>
            <div class="articles__footer">
              <p>Merchant 1</p>
              <time>15 Karma Points</time>
            </div>
          </div>
          <div class="articles__content articles__content--rhs" aria-hidden="true">
            <h2 class="articles__title">25% OFF</h2>
            <div class="articles__footer">
              <p>Merchant 1</p>
              <time>15 Karma Points</time>
            </div>
          </div></a></li>
      <li class="articles__article" style="--animation-order:2"><a class="articles__link">
          <div class="articles__content articles__content--lhs">
            <h2 class="articles__title">3$ OFF any >15$ purchase</h2>
            <div class="articles__footer">
              <p>Merchant 2</p>
              <time>10 Karma Points</time>
            </div>
          </div>
          <div class="articles__content articles__content--rhs" aria-hidden="true">
            <h2 class="articles__title">3$ OFF any >15$ purchase</h2>
            <div class="articles__footer">
              <p>Merchant 2</p>
              <time>10 Karma Points</time>
            </div>
          </div></a></li>
      <li class="articles__article" style="--animation-order:3"><a class="articles__link">
          <div class="articles__content articles__content--lhs">
            <h2 class="articles__title">10% OFF groceries</h2>
            <div class="articles__footer">
              <p>Merchant 3</p>
              <time>25 Karma Points</time>
            </div>
          </div>
          <div class="articles__content articles__content--rhs" aria-hidden="true">
            <h2 class="articles__title">25% OFF groceries</h2>
            <div class="articles__footer">
              <p>Merchant 3</p>
              <time>25 Karma Points</time>
            </div>
          </div></a></li>
    </ol> -->

<center><h2 style="text-decoration: none;">Karma Points Balance: <span id="karma_balance">{{user.current_karma_points}}</span></h2>
<a id="maps-link"><h2 id="location-string">Current Location: Invalid</h2></a>
<a class="btn btn-dark" onclick="initMap()" style="margin-top: 10px; color: white;">FIND OFFERS NEAR YOU</a>
</center>
<div class="container" style="margin-top: 30px;" id="offers-list">
</div> 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="tagForm" action="/customer/confirm_order/" method="POST">{% csrf_token %}
      <div class="modal-body">
        <h3 id="confirmation-msg" style="font-size: 15px;"></h3>
        <!--<form id="tagForm" action="/customer/confirm_order/" method="POST">{% csrf_token %}-->
            <label for="recipient-name" class="col-form-label">Enter bill amount at store:</label>
            <input type="text" class="form-control" name="order_amount" id="recipient-name">
            <input type="hidden" name="offerId" id="offerId" value=""/>
        <!--</form>-->
      </div>

      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--     <a type="button" class="btn btn-primary" href="/consofferprofile">Approved by Merchant?</a> -->
        <input id="tag-form-submit" type="submit" class="btn btn-primary" value="Approved by Merchant?">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Can't Avail Offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 style="font-size: 15px; line-height: 25px;">Insufficient Karma Points, earn points by first supporting more local merchants.</h3>
      </div>

      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
    {% endblock %}

    {% block scripts %}
    <style>
      @import url("https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans&display=swap");
body {
      background: #b5ced8;
}

h2 {
  font-family: Arbutus Slab, serif;
  font-weight: normal;
  color: #000;
  line-height: 1.25;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 10px;
}

h4 {
  margin-top: 30px;
}

.karma-para {
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 48px;
  margin: 0 auto;
}

.card {
  cursor: pointer;
  position: relative;
  height: 0;
  padding-bottom: 120%;
  --offset-multiplier: 4px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  --translate: 0;
  -webkit-transform: translate(var(--translate), var(--translate));
          transform: translate(var(--translate), var(--translate));
}
.card:hover {
  --offset-multiplier: 6px;
}
.card:hover {
  --translate: calc(-1px * (var(--cards) - 1));
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.child {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px -2px 8px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  -webkit-transition: inherit;
  transition: inherit;
  --translate: calc(var(--offset) * var(--offset-multiplier));
  -webkit-transform: translate(var(--translate), var(--translate));
          transform: translate(var(--translate), var(--translate));
  z-index: 5;
}
.child:nth-child(1) {
  --offset: 0;
  z-index: 4;
}
.child:nth-child(2) {
  --offset: 1;
  z-index: 3;
}
.child:nth-child(3) {
  --offset: 2;
  z-index: 2;
}
.child:nth-child(4) {
  --offset: 3;
  z-index: 1;
}
.child:nth-child(5) {
  --offset: 4;
  z-index: 0;
}

    </style>

<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.

  $('#exampleModal').on('shown.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever')
    var offer=button.data('offerid') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('#confirmation-msg').text('Confirm order amount and offer validity with ' + recipient)
    modal.find('#offerId').val(offer)
  })

  var map, infoWindow;
  function initMap() {

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        $.ajax(
              {
                  type:"GET",
                  url: "/customer/avail_karma_points",
                  data:{
                           lat:pos['lat'],
                           lng:pos['lng']

                  },
                  success: function( data ) 
                  {
                    console.log('Success:',data[0])
                    for (var i = 0; i < data.length; i++) {
                      var modal_name = "#exampleModal"
                      var karma_balance = parseInt(document.getElementById("karma_balance").innerHTML)
                      if (karma_balance < data[i]['karma_points_required']) {
                        modal_name = "#exampleModal2"
                      }
                      var htmlString = `<a data-toggle="modal" data-target="${modal_name}" data-offerid="${data[i]['id']}" data-whatever="${data[i]['merchant_name']}">
                                        <div class="card">
                                          <div class="child">
                                            <h2>${data[i]['details']}</h2>
                                            <h4>${data[i]['merchant_name']}</h4>
                                            <p class="karma-para">${data[i]['karma_points_required']} Karma Points</p>
                                            <p class="karma-para" style="padding-bottom: 20px;">${data[i]['distance'].toFixed(1)} miles</p>
                                          </div>
                                          <div class="child"></div>
                                        </div>
                                        </a>`
                      document.getElementById('offers-list').innerHTML += htmlString
                    }
                  }
               })

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
              var short_loc_string = JSON.parse(xhttp.response).results[7].formatted_address;
              document.getElementById("location-string").innerHTML = 'Current Location: ' + short_loc_string;

              var loc_string = JSON.parse(xhttp.response).results[0].formatted_address;
              var htmlLink = "http://maps.google.com/?q=" + loc_string;
              document.getElementById("maps-link").setAttribute("href", htmlLink);
              document.getElementById("maps-link").setAttribute("target", "__blank");
            }
          };
        var requestURL = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + pos['lat'] + "," + pos['lng'] + "&key=AIzaSyCLKMTl60zVE9QesazTh0Mxr8UjVD7THs4";
        xhttp.open("POST", requestURL, true);
        xhttp.send();
      }, function() {
        console.log("Geolocation failed, can't sort by location. Make sure permission is enabled.");
      });
    } else {
      // Browser doesn't support Geolocation
      console.log("Browser doesn't support geolocation.");
    }
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLKMTl60zVE9QesazTh0Mxr8UjVD7THs4">
</script>
    {% endblock %}