{% extends "consumers/cons_base.html" %}
{% load static %}
    
    {% block content %}
    <center>
        <h2 class="border-bottom" style="font-family: Arbutus Slab, serif; font-size: 35px; margin-top: 18px; color: #000; line-height: 1.25; padding-bottom: 20px;"><strong>Orders</strong></h2>
        <div id="offers-list">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Order Date</th>
                  <th scope="col">Order Amount</th>
                  <th scope="col">Consumer</th>
                  <th scope="col">Merchant</th>
                  <th scope="col">Karma Points Earned</th>
                  <th scope="col">Karma Points Used</th>
                  <th scope="col">Discount Amount</th>
                </tr>
              </thead>
              <tbody style="background-color: white;">
                {% for order in orders %}
                  <tr>
                    <td>{{order.order_date}}</td>
                    <td>{{order.order_amount}}</td>
                    <td>{{order.consumer}}</td>
                    <td>{{order.merchant}}</td>
                    <td>{{order.karma_points_earned}}</td>
                    <td>{{order.karma_points_used}}</td>
                    <td>{{order.discount_amount}}%</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </center>
    {% endblock %}
    {% block scripts %}
    {% endblock %}