<html>
    <head>
        <title>Dummy Page</title>
    </head>
    <body>
        <h2>Offers</h2>
    <hr>
	<div class="row">
		{% for offer in offers %}
        <div class="col-lg-4">
            <div class="box-element product">
                <h6><strong>Merchant Name: </strong>{{merchant}}</h6>
                <h6><strong>Offer ID: </strong>{{offer.id}}</h6>
                <h6><strong>Karma Points: </strong>{{offer.karma_points}}</h6>
                <h6><strong>Percentage Off: </strong>{{offer.percentage_off}}</h6>
                <h6><strong>Offer Start Date: </strong>{{offer.offer_start_date.date}}</h6>
                <h6><strong>Offer Valid Days: </strong>{{offer.days_valid}}</h6>
                <hr>
            </div>
        </div>

       {% endfor %}
    </div>
    </body>
</html>